@import 'venders/reset';
@import 'venders/normalize';
@import 'venders/variables';


// body{
// }

.content-width{
  width:  90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.button {
  color: $cWhite;
  background-color: #F02A42;
  font-size: 25px;
  font-weight: 600;
  padding: 20px 45px;
  border: none;
  border-radius: 10px;
  box-shadow:0 3px 6px #5D1007;
}

header {
  position: relative;
}

// main {
//   background-color: #27324B;
//   width: 100vw;
// }

.bg-color {
  background-color: #27324B;
  width: 100vw;
}


.main-bg {

  .main-top-bg {
    position: relative;
    position: absolute;
    width: 100vw;
  }
  .main-top-bg-pf {
    position: absolute;
    top: -100px;
    width: 100vw;
  }

}

.top {
  color: $cWhite;
  position:relative;
  z-index: 10;

  .top-logo {
    padding: 20px 0;
  }

  .top-main {
    margin: 100px 0;

    .top-sub {
      padding-top: 20px;
      font-size: 36px;
    }

    .top-title {
      font-size: 60px;
      line-height: 85px;
      margin: 20px 0;
    }
  }
// ===================================================
// 最後のコメントアウト解除
// ===================================================

  // .top-under {
  //   z-index: 100;
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  //   width: 100vw;
  //   padding: 25px 0;
  //   color: $cWhite;
  //   background-color: #F02A42;
  //   border: none;
  //   font-size: 35px;
  //   font-weight: 600;
  // }
}

.head {
  color: $cWhite;
  position: relative;
  z-index: 1;
  padding-bottom: 150px;

  .head-top {
    padding-bottom: 62px;
    font-size: 32px;
    line-height: 47px;
  }

  .head-title {
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }

  .head-text {
    line-height: 25px;
    color: #DBDCE1;
    padding-bottom: 62px;

    & > span {
      color: $cWhite;
      text-decoration: underline;
    }
  }

  .head-conts {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding-bottom: 62px;

    & > div {
      flex: 1 1;

      & > img {
      width: 100%;
      }
    }
  }

  .head-button {
    position: absolute;
    top: 1150px;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.howto {
  text-align: center;
  background-color: #F5F5F5;

  .howto-title {
    padding: 100px 0;
    font-size: 25px;
  }

  .howto-text {
    font-size: 15px;
    line-height: 20px;
    color: #27324B;
    padding-bottom: 40px;
  }

  .howto-primary {
    font-size: 40px;

    & > span {
      background-color: #14C5D2;
      color: $cWhite;
      padding: 5px 0;
    }
  }

  .howto-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;

    & > div {
      flex: 1 1;

      & > img {
      width: 85%;
      }
    }

    .howto-before {

      & > p {
        background-color: #2B516C;
        color: $cWhite;
        padding: 10px 0;
        width: 85%;
        margin: auto;
      }
    }

    .howto-after {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: -2%;
        margin: auto;
        border-style: solid;
        border-color: #14C5D2 transparent transparent transparent;
        border-width: 30px 30px 30px 30px;
        transform: rotate(-90deg);
      }

      & > p {
        background-color: #14C5D2;
        color: $cWhite;
        padding: 10px 0;
        width: 85%;
        margin: auto;
      }
    }
  }
}