@import 'venders/reset';
@import 'venders/normalize';
@import 'venders/variables';


main{
  overflow: hidden;
}

.content-width ,.container{
  width:  90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.button {
  color: $cWhite;
  background-color: #F02A42;
  font-size: 25px;
  font-weight: 600;
  padding: 20px 45px;
  border: none;
  border-radius: 10px;
  box-shadow:0 3px 6px #5D1007;
}

header {
  position: relative;
}

// main {
//   background-color: #27324B;
//   width: 100vw;
// }

.bg-color {
  background-color: #27324B;
  width: 100vw;
}


.main-bg {

  .main-top-bg {
    position: relative;
    position: absolute;
    width: 100vw;
  }
  .main-top-bg-pf {
    position: absolute;
    top: -100px;
    width: 100vw;
  }

}

.top {
  color: $cWhite;
  position:relative;
  z-index: 10;

  .top-logo {
    padding: 20px 0;
  }

  .top-main {
    margin: 100px 0;

    .top-sub {
      padding-top: 20px;
      font-size: 36px;
    }

    .top-title {
      font-size: 60px;
      line-height: 85px;
      margin: 20px 0;
    }
  }
// ===================================================
// 最後のコメントアウト解除
// ===================================================

  // .top-under {
  //   z-index: 100;
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  //   width: 100vw;
  //   padding: 25px 0;
  //   color: $cWhite;
  //   background-color: #F02A42;
  //   border: none;
  //   font-size: 35px;
  //   font-weight: 600;
  // }
}

.head {
  color: $cWhite;
  position: relative;
  z-index: 1;
  padding-bottom: 150px;

  .head-top {
    padding-bottom: 62px;
    font-size: 32px;
    line-height: 47px;
  }

  .head-title {
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }

  .head-text {
    line-height: 25px;
    color: #DBDCE1;
    padding-bottom: 62px;

    & > span {
      color: $cWhite;
      text-decoration: underline;
    }
  }

  .head-conts {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding-bottom: 62px;

    & > div {
      flex: 1 1;

      & > img {
      width: 100%;
      }
    }
  }

  .head-button {
    position: absolute;
    top: 1150px;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.howto {
  text-align: center;
  background-color: #F5F5F5;

  .howto-title {
    padding: 100px 0;
    font-size: 25px;
  }

  .howto-text {
    font-size: 15px;
    line-height: 20px;
    color: #27324B;
    padding-bottom: 40px;
  }

  .howto-primary {
    font-size: 40px;

    & > span {
      background-color: #14C5D2;
      color: $cWhite;
      padding: 5px 0;
    }
  }

  .howto-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;

    & > div {
      flex: 1 1;

      & > img {
      width: 85%;
      }
    }

    .howto-before {

      & > p {
        background-color: #2B516C;
        color: $cWhite;
        padding: 10px 0;
        width: 85%;
        margin: auto;
      }
    }

    .howto-after {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: -2%;
        margin: auto;
        border-style: solid;
        border-color: #14C5D2 transparent transparent transparent;
        border-width: 30px 30px 30px 30px;
        transform: rotate(-90deg);
      }

      & > p {
        background-color: #14C5D2;
        color: $cWhite;
        padding: 10px 0;
        width: 85%;
        margin: auto;
      }
    }
  }

  .howto-catch {
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 50px;

    & > span {
      font-size: 30px;
      text-decoration: underline #14C5D2 4px;
    }
  }

  .howto-button {
    margin-bottom: 100px;
  }

  .howto-info {
    padding-bottom: 100px;
  }
}

.company {
  background-color: #E5E5E5;
  text-align: center;
  padding: 100px 0;

  .company-top {
    padding-bottom: 80px;
  }

  .company-text {
    font-size: 14px;
    line-height: 20px;
  }

  .company-list {
    width: 80%;
    margin: 80px auto;
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    & .company-item {
      width: 15%;
      margin: auto;
      padding-bottom: 10px;

      & > img {
        width: 90%;
      }
    }
  }

  .company-main {
    font-size: 30px;
    padding-bottom: 50px;
  }

  .company-about {
    display: flex;
    list-style: none;
    justify-content: space-between;

    .company-work {
      background-color: $cWhite;
      width: 30%;
      height: 390px;
      margin: auto;
      text-align: start;
      box-shadow: 0px 5px 5px 0px #747474;

      .company-servise {

        & > img {
          width: 100%;
        }

        .company-text {
          text-align: start;
          padding: 10px;
        }
      }

      .company-data {
        padding: 0 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 15px;

        & > dt {
          width: 30%;
          padding-bottom: 4px;

          & > img {
            width: 11px;
          }
        }

        & > dd {
          width: 65%;
          padding-bottom: 4px;
        }
      }

      .company-emphasis {
        padding: 10px;
      }

      .company-detail {
        padding: 0 10px;
        font-size: 14px;
        line-height: 18px;
      }

      .company-button {
        margin: 10px 13px;
        padding: 10px 50px;
        background-color: $cWhite;
        border: solid #27324B 1px;
        border-radius: 5px;
        outline: none;
      }
    }
  }

  .company-index {
    margin: 30px auto;
    font-size: 14px;
    color: #3A4660;
  }
}

.flow {
  background-color: #ECF1F2;
  text-align: center;
  margin: auto;
  padding: 100px 0;

  .flow-title {
    color: #304566;
  }

  .flow-list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    .flow-item {
      background-color: $cWhite;
      margin-top: 30px;
      padding: 10px;
      width: 12.5vw;
      height: 200px;
      border-radius: 8px;

      .flow-step {
        background-color: #304566;
        color: $cWhite;
        width: 7vw;
        margin: auto;
        padding: 4px 0;
        border-radius: 10px;
        font-size: 12px;
        }

      .flow-main {
        color: #304566;
        padding: 20px 0 25px 0;
        font-size: 14px;
      }

      .flow-text {
        color: #52637F;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 1.2rem;
        text-align: start;
      }
    }
  }
}

.contact {
  background-color: #F5F5F5;
  text-align: center;

  .contact-title {
    padding: 100px 0 60px 0;
    font-weight: 100;
    color: #27324B;
    font-size: 18px;
  }

  .contact-top {
    font-size: 45px;
  }

  .contact-chat {
    padding-top: 100px;

    .contact-main {
      display: flex;
      align-items: center;

      .contact-icon {

      }

      .contact-text {
      }
    }

    .contact-form {
      display: flex;
    }
  }
}

